<div class="container">
  <h1>Meet the Team </h1>
<div class="moving-image-container">
    <img src="assets/images/h4-img-2.png" alt="Moving Image" class="moving-image">
    <img src="assets/images/h4-img-2.png" alt="Moving Image" class="moving-image1">

  </div>
</div>
<img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints">
<img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints">
<img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints1">
<div class="pub">
  <div class="newproj">
    <p class="pr">Got a new project? Let’s work together.
    </p>
  </div>
</div>
