<div class="homepage">
  <div id="main-wrapper" class="wrapper">

    <nav id="nav-menu">
      <div class="menu-icon-container">
        <div class="menu-icon">
          <img src="assets/images/Fichier 4.svg" alt="" class="logosvg">
        </div>
      </div>

      <div class="menu-list-container">
        <ul>
          <li>
            <button id="main-wrapper"  class="item3" ></button>
          </li>
          <li><a routerLink="/nav">Two H Design</a></li>
          <br>
          <li><a routerLink="/project">Projects</a></li>
          <li><a routerLink="/contact-page">Contact</a></li>
          <li><a routerLink="/About-us">About Us</a></li>
        </ul>
      </div>


      <img src="assets/images/h4-rev-img-8.png" alt="" class="img1">
      <h1 class="welcometitle">
        <span>B</span><span>e</span><span>c</span><span>o</span><span>m</span><span>e</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>&nbsp;</span>
        <span>p</span><span>a</span><span>r</span><span>t</span>
        <br>
        <span>&nbsp;</span>
        <span>o</span><span>f</span>
        <span>&nbsp;</span>
        <span>t</span><span>h</span><span>i</span><span>s</span>
        <span>&nbsp;</span>
        <span>n</span><span>e</span><span>a</span><span>t</span>
        <span>&nbsp;</span>
        <span>c</span><span>r</span><span>e</span><span>w</span>
      </h1>
      <div class="twohdesign"><span>T</span><span>w</span><span>o</span> <span>H</span><span> D</span>
        <span>e</span><span>s</span>
        <span>i</span><span>g</span><span>n</span>
      </div>
      <img src="assets/images/THD BLACK.svg" alt="" class="logo">
      <img src="assets/images/holmes-slider-img-1.png" alt="" class="welcomeimg">
    </nav>


    <div class="intro">
      <div class="title">

      </div>
    </div>
  </div>
  <div>
    <p>Founded in 2013 by Hmaeid Jlassi and Ahmed Hamdoun, our agency's mission is to transform your ideas into tangible successes. We aim to revolutionize the industry by offering innovative strategies and personalized solutions as we commit to guiding you towards success by maximizing your visibility and strengthening your brand image.    </p>

    <table>
      <tr>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
        <td>
          <div class="card">
            <div class="first-content">
              <span>First</span>
            </div>
            <div class="second-content">
              <span>Second</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <app-main></app-main>
    <app-galery></app-galery>
    <app-main></app-main>
    <app-team></app-team>
    <app-contact></app-contact>
  </div>
