
 <section class="container3">
   <div class="box3">
    <div class="footetr">
      <div class="f2">
          <p class="design">
            Design & communications for the new age, one step at a time. See our work.
          </p>
           <table>
            <td>
              <img src="assets/images/THD WHITE.svg" alt="" class="contactimg">
              <h1 class="annonce">BIZERTE office</h1><br>
              <p>été étage B41- Bizerte 7061
                Tel : +21627766880
                        +21621119677
                Mail : thdcommercial@gmail.com <br>
                         contact@twohdesign.com <br>
                         www.twohdesign.com</p>
                         <br>
                         <br>
            </td>
          </table>

           <div><p class="copyrights">© 2024 Qode Interactive, All Rights Reserved</p></div>
      </div>
    </div>
   </div>
 </section>


