<div class="container">
  <table class="galery">
    <tr>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-6.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-6.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-6.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-6.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-9.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
      <td>
        <img src="assets/images/portfolio-img-6.jpg" alt="">

        <div class="col-sm-6">
          <div class="box animate fadeInRight four">
            <h1>
              Your buisiness. <br>
              Our Job
            </h1><br>
            <p>Creative , Modern , Smart</p>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
