<div>
  <div class="contain">
    <img src="assets/images/4cadde5a-6563-496c-945d-f65b2a185949.jpg" alt="">
   </div>
  <div class="pub">
    <img src="assets/images/h4-background-img-2-1.jpg" alt="" class="worldimg">
    <h2 class="pubtitle">
      UI/UX DEVELOPPERS <br>
      IN BIZERTE
    </h2>
    <div class="jobalert">
      
      <div class="card">
        <div class="offers">
            <div class="offercontain">
              <div class="line"></div>
            <h1 class="offertitle" (click)="toggleDescription(1)">Design</h1>
            <button class="offertitle1" (click)="toggleDescription(1)">+</button>
            <div *ngIf="descriptions[1]" class="description">
                <p>This department transforms your ideas into attractive and impactful visuals. We combine creativity and technical expertise to create visual identities, user interfaces, and communication materials that captivate and engage your audience.</p>
            </div>
            </div>
            <div class="offercontain">
              <div class="line"></div>
            <h1 class="offertitle" (click)="toggleDescription(2)">Développement web</h1>
            <button class="offertitle1" (click)="toggleDescription(2)">+</button>
            <div *ngIf="descriptions[2]" class="description">
                <p>By using the latest technologies, this department is dedicated to creating custom websites and applications that meet the specific needs of our clients, ensuring an optimal user experience and maximum performance.</p>
            </div>
            </div>
            <div class="offercontain">
              <div class="line"></div>
            <h1 class="offertitle" (click)="toggleDescription(3)">Marketing digitale</h1>
            <button class="offertitle1" (click)="toggleDescription(3)">+</button>
            <div *ngIf="descriptions[3]" class="description">
                <p>Our Digital Marketing team focuses on developing and executing online strategies to maximize your web presence. From social media management to search engine optimization (SEO), and including pay-per-click (PPC) advertising campaigns and content marketing, we use advanced techniques to achieve your business goals.</p>
            </div>
            </div>
            <div class="offercontain">
              <div class="line"></div>
            <h1 class="offertitle" (click)="toggleDescription(4)">Shooting And Video Editing</h1>
            <button class="offertitle1" (click)="toggleDescription(4)">+</button>
            <div *ngIf="descriptions[4]" class="description">
                <p>This department captures and edits high-quality visual content that tells your story in a captivating way. Our team masters the art of audiovisual production to create impactful and memorable works.</p>
            </div>
            <div class="offercontain">
              <div class="line"></div>
            <h1 class="offertitle" (click)="toggleDescription(5)">Events</h1>
            <button class="offertitle1" (click)="toggleDescription(5)">+</button>
            <div *ngIf="descriptions[5]" class="description">
                <p>Our team organizes and manages professional events that leave a lasting impression. From conception to execution, we handle every detail to ensure the success of your conferences, seminars, and other corporate events, guaranteeing unforgettable experiences for your guests.</p>
            </div>
        </div>
    </div>

      </div>

</div>


