<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<div class="card">
  <div class="card-header">
    <h3 class="mb-0">{{ project.name }}</h3>
    <p class="mb-0"><small>{{ project.description }}</small></p>
    </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 text-center">
        <!-- Main Image -->

        <img [src]="getImageUrl(project.image_url)" (error)="handleImageError($event)" class="card-img-top" alt="{{ project.name }}" style="height: 200px; object-fit: cover;">
      </div>

      <!-- Display project images -->
      <div *ngIf="images.length > 0">
        <h3>Project Images</h3>
        <div class="image-gallery">
          <img *ngFor="let image of images"
               [src]="image.url"
               (error)="handleImageError($event)"
               class="project-image"
               alt="Project Image">
        </div>
      </div>
      <div class="col-md-6">
        <!-- Project Information -->
        <p class="card-text">Description: {{ project.description }}</p>
      </div>
    </div>


      <a class="carousel-control-prev" href="#additionalImagesCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#additionalImagesCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="card-footer">
    <a style="border-radius: 10px" [routerLink]="['/projects/edit', project.id]" class="btn btn-primary mr-2">Edit</a>
    <a style="border-radius: 10px" [routerLink]="['/projects/delete', project.id]" class="btn btn-secondary">Delete</a>
  </div>
