<div>
  <nav class="firstNav">
    <ul class="firstnavul">
      <li class="contact"  class="firstnavli">contact</li>
      <li class="facebook" class="firstnavli">Fb.</li>
      <li class="linkedin" class="firstnavli">Ln.</li>
      <li class="twitter" class="firstnavli">Tw.</li>
      <li class="behance" class="firstnavli">Be.</li>
      <li class="menu" class="firstnavli">menu</li>
    </ul>

    <div class="menu-icon">
      <div class="nav-container">
        <img src="assets/images/Fichier 4.svg" alt="" class="logosvg" (click)="toggleNav()">
        <nav [class.show-nav]="navVisible" class="my-nav">
          <ul class="my-nav-list">
            <li class="my-nav-item" routerLink="/home">home</li>
            <li class="my-nav-item" routerLink="/project">projects</li>
            <li class="my-nav-item" routerLink="/contact-page">Contact </li>
            <li><button class="item-3" (click)="toggleNav()"></button></li>
          </ul>
        </nav>
      </div>
    </div>
    <img src="assets/images/THD WHITE.svg" alt="" class="logo">
    <div class="AboutUstitle">
      <p class="A1">2191.______________________This page is for</p>
      <p class="A2">About Us</p>
    </div>
  </nav>
</div>
<div class="main">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints1">

  <p class="parg1">We are embarking on a global conquest with a bold vision and limitless ambitions, distinguished by our commitment to transcending boundaries to offer innovative solutions to a worldwide clientele.
    <br> Our international approach is based on a deep understanding of local cultures and global markets, enabling us to create customized strategies that resonate across borders.
</div>
<table>
  <tr>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
    <td>
      <img src="assets/images/corporate-agency-team-img-2.jpg" alt="" class="imgofthetable">
      <div class="infos">
        <p>
          <span>Human Resources </span><br>
          Dhia Eddin Falleh <br>
          Lets Connect Fb. In. Tw. Bi.
        </p>
      </div>
    </td>
  </tr>
</table>
<div class="characterofthd">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints">
  <div class="characters">
    <div class="next">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" (click)="removeGrayscale()" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
      </svg>
    </div>
    <div class="next1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" (click)="removeGrayscale()" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
      </svg>
    </div>
    <div class="characterofthd">
      <p>The most Creative Agency I've ever worked with. It was a privilege seeing them at work.</p>
    </div>
    <table class="characterofthdtable">
      <tr>
        <td><img src="assets/images/testimonials-img-1.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-2.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-3.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-4.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-5.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-6.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-7.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-8.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-9.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-10.png" alt="" class="ch"></td>
        <td><img src="assets/images/testimonials-img-11.png" alt="" class="ch"></td>
      </tr>
    </table>
  </div>


<div class="galery">
  <img src="assets/images/masonry-gallery-img-1-768x775.jpg" alt="" class="Gimg1">
  <h1 class="HT1">The Best Solution</h1>
  <img src="assets/images/masonry-gallery-img-2.jpg" alt="" class="Gimg2">
  <h1 class="HT2">The Best Team </h1>
  <img src="assets/images/masonry-gallery-img-3.jpg" alt="" class="Gimg33">
  <h1 class="HT3">The Best Team </h1>

  <img src="assets/images/masonry-gallery-img-7-768x512.jpg" alt="" class="Gimg3">
  <h1 class="HT0">The Best Solution</h1>

  <img src="assets/images/masonry-gallery-img-3.jpg" alt="" class="Gimg44">
  <h1 class="HT4">Team Working </h1>

  <img src="assets/images/masonry-gallery-img-3.jpg" alt="" class="Gimg4">
  <h1 class="HT5">fresh ideas </h1>

  <img src="assets/images/masonry-gallery-img-3.jpg" alt="" class="Gimg5">
  <h1 class="HT6">The Best Team </h1>

  <img src="assets/images/masonry-gallery-img-3.jpg" alt="" class="Gimg6">
  <h1 class="HT7">The Best Team </h1>







</div>
</div>
<div class="lastpub">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints1">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints2">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints2">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints2">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints2">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints2">
  <img src="assets/images/white-background-and-gray-dotted-background-file-free-vector.jpg" alt="" class="imgofpoints2">






  <img src="assets/images/human-resources-holmes-background-3.png" alt="" class="worldmap">

  <p class="wordmapp">At TWO H DESIGN, we are dedicated to your success. With boundless passion and limitless creativity, we accompany you at every stage of your journey, from crafting bold ideas to executing them flawlessly.</p>
  <div class="newproj">
    <p class="pr">Got a new project? Let’s work together.
    </p>
  </div>
</div>
<section class="container3">
  <div class="box3">
    <div class="footetr">
      <div class="f2">
        <p class="design">
          Design & communications for the new age, one step at a time. See our work.
        </p>
        <table>
          <td>
            <img src="assets/images/THD WHITE.svg" alt="" class="contactimg">
            <h1 class="annonce">BIZERTE office</h1><br>
            <p>été étage B41- Bizerte 7061
              Tel : +21627766880
                      +21621119677
              Mail : thdcommercial@gmail.com <br>
                       contact@twohdesign.com <br>
                       www.twohdesign.com</p>
                       <br>
                       <br>
          </td>        </table>
        <div>
          <p class="footerannonce">Connect with usFb.Ln.Tw.Be.</p>
        </div>
        <div>
          <p class="copyrights">© 2019 Qode Interactive, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</section>
