/* General Styles */
nav {
  background-image: url("/assets/images/portfolio-list-title-img-3.jpg");

  background-repeat: no-repeat;
  color: black;
  padding: 10px;
}

nav ul {
  margin-left: 65%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 20px 10px -10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

nav ul li:hover {
  color: #92c020;
}

.logosvg {
  margin-top: -4%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out;
  margin-left: 95%;
}

.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: -9%;
  margin-left: 6%;
  z-index: 2;
}

.contacttitle {
  margin-top: 10%;
  position: relative;
  margin-left: 30%;
  color: black;
  width: 800px;
  height: 80px;
  margin-bottom: 10%;
}

.contacttitle h1 {
  color: aliceblue;
  font-size: 60px;
  text-align: center;
}

.contacttitle p {
  margin-top: 10%;
  margin-left: -20%;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.pubtitle {
  font-size: 80px;
  color: black;
  margin-left: 5%;
}

.infos {
  margin-top: 30%;
  margin-left: 5%;
  font-size: 20px;
  color: #000;
}
.infos p{
  color: #000;
  margin-left: 5%;
  font-size: 30px;
  margin-top: 20%;
}
.infos h1{
  margin-top: 2%;
  margin-left: 5%;
  color: #000;
  font-size: 65px;
}
.infos h3{
  color: #000;
  margin-top: -2%;
  margin-left:5%;
  font-size: 34px;
}
.infos h2{
  color: #000;
  margin-top: -2%;
  margin-left:5%;
  font-size: 34px;
}
.form{
  position:static;
  margin-left: 50%;
  margin-top: -23%;

}
.input{
  background-color: #f6f6f6;
  border:none;
  width:270px;
  height: 70px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.input1{
  background-color: #f6f6f6;
  border:none;
  width:320px;
  height: 70px;
  margin-left: 5%;
  margin-top: 0%;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.input2{
  background-color: #f6f6f6;
  border:none;
  width: 635px;
  height: 70px;
  color: black;
  font-size: 20px;
  margin-top:2%;
  font-weight: bold;
}
.input3{
  background-color: #f6f6f6;
  border:none;
  width: 635px;
  height: 270px;
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top:2%;
  font-weight: bold;
}
.btn{
  margin-top: 2%;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  background-color: black;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}
.map-container {
  margin-top: 5%;
  position: relative;
  overflow: hidden;
  padding-top: 35.25%; /* 16:9 aspect ratio */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.nav-container {
  position: relative;
}
.imgdiv{
  background-color: #333;
  width: 210px;
  height: 100px;
  position: absolute;
  margin-top: -60px;
  margin-left: 5%;
}
.logosvg {
  cursor: pointer;
}
.my-nav {
  scroll-behavior: none;
  position:fixed;
  margin-top: -5%;
  width: 95%;
  right: -110%;
  height: 100px; /* Adjust height as needed */
  background-color: #000000 !important;
  background-image: none !important;
  overflow-x: hidden;
  transition: right 0.5s;
  display: flex;
  align-items: center;
  opacity: 100%;
  z-index: 2;
}
.my-nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: -50px;
  width: 100%;
  justify-content: center;
}

.my-nav-item {
  padding: 16px;
  text-align: center;
  flex: 1; /* Distribute items evenly */
  color: aliceblue !important; /* Force the text color */
}

.show-nav {
  right: 0;
}

.item-3 {
  background-color: black;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow:none !important;
  border: none;

  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: ease-out .3s all;
    box-shadow:none !important;
    border: none;
    font-weight: bold;
    z-index: 9999;

  }
  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #FFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: ease-out .3s all;
    box-shadow:none !;
    border: none;
    font-weight: bold;


  }
  &:hover, &:focus {
    &:before {
      transform: translate(-50%, -50%) rotate(135deg);
      box-shadow:none !important;
      border: none;


    }
    &:after {
      transform: translate(-50%, -50%) rotate(225deg);
      box-shadow:none !important;
      border: none;


    }
  }
}
.container3 {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin-bottom: -10%;
}

.box3 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 45px;
}

.footetr {
  width: 100%;
}

.f2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.f2 ul {
  width: 25%;
  min-width: 150px;
}

.f2 ul li {
  margin-bottom: 16px;
}

.f2 ul li a {
  color: #737373;
  font-size: 14px;
}

.f1 {
  margin-bottom: 30px;
}

.f1 a {
  font-size: 16px;
  color: #737373;
}

.f3 {
  margin-top: 30px;
}

.f3 a {
  font-size: 16px;
  color: #737373;
}

h1 {
  margin-top: 0%;
  color: aliceblue;
  margin-left: 10%;
  font-size: 40px;
  margin-right: 20%;
}

p {
  margin-top: 0%;
  color: aliceblue;
  margin-left: 10%;
  font-size: 30px;
  margin-right: 0%;
}

.footerannonce {
  margin-top: 10%;
  color: aliceblue;
  margin-left: 5%;
  font-size: 20px;
  margin-right: -40%;
}
.contactimg{
  width: 200px;
  margin-left: -20%;
  margin-top: -20%;
}
.copyrights {
  margin-top: 12%;
  color: aliceblue;
  margin-left: 105%;
  font-size: 20px;
  margin-right: -100%;
}


@media screen and (max-width: 390px) {
  .firstNav {
    background-repeat: no-repeat;
    color: black;
    padding: 5px;
    margin-top: 0%;
    width: 100%;
  }

  .firstnavul {
    margin-left: 65%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    align-items: center;
  }

  .firstnavli {
    display: none;
  }

  .firstnavli .menu {
    margin-top: 30%;
    display: block; /* Only show the list item with the class "menu" */
    margin: 0 5px;
    font-size: 15px;
    color: white;
    margin-left:-10%;
    cursor: pointer;
  }

  nav ul li.menu:hover {
    color: #92c020;
  }

  .logosvg {
    margin-top: -2%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out;
    margin-left: 90%;
    position: absolute;
  }


  .logo {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -8%;
  }
  .my-nav {
    position: fixed;
    margin-top: -3%;
    color: aliceblue;
    right: -100%; /* Hidden position */
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background-color: #333;
    overflow-x: hidden;
    transition: right 0.5s;
    display: flex;
    align-items: center;
    color: aliceblue !important; /* Force the text color */

  }

  .my-nav-list {
    margin-left: -20%;

    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    color: aliceblue;
  }

  .my-nav-item {
    margin-top: -5% !important;
    font-size: 12px !important;
    padding: 3px;
    text-align: center;
    margin-left: -80% !important;
    flex: 1; /* Distribute items evenly */
    color: aliceblue !important; /* Force the text color */

  }

  .show-nav {
    right: 0; /* Visible position */
  }
  button.item-3 {
    margin-top: -80% !important;
    background-color: black;
    width: 50px !important;
    height: 50px !important;
    position: relative;
    box-shadow:none !important;
    border: none;
    margin-left: -200% !important;


    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 25px;
      background-color: #FFF;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out .3s all;
      box-shadow:none !important;
      border: none;
      font-weight: bold;
      z-index: 9999;

    }
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 25px;
      background-color: #FFF;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out .3s all;
      box-shadow:none !;
      border: none;
      font-weight: bold;


    }
    &:hover, &:focus {
      &:before {
        transform: translate(-50%, -50%) rotate(135deg);
        box-shadow:none !important;
        border: none;


      }
      &:after {
        transform: translate(-50%, -50%) rotate(225deg);
        box-shadow:none !important;
        border: none;


      }
    }
  }


  @keyframes close {
    100% {
      opacity: 1;
    }
  }

  .button.rotated .X {
    transform: translateX(-50%) rotate(135deg); /* Rotate X 90 degrees more */
  }

  .button.rotated .Y {
    transform: translateX(-50%) rotate(-135deg); /* Rotate Y 90 degrees more */
  }
  .map-container {

    position: absolute;
    margin-top:75%;
    position: relative;
    overflow: hidden;
    padding-top: 35.25%; /* 16:9 aspect ratio */
    height: 0;
  }

  .contacttitle {
    margin-top: 15%;
    margin-left: 35%;
    color: black;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
  }

  .contacttitle h1 {
    margin-top: 10%;
    color: #000;
    font-size: 15px;
    text-align: center;
  }

  .contacttitle p {
    position: absolute;
    margin-top: 10%;
    margin-right: -20%;
    margin-left: 20%;
    color: #000;
    font-size: 5px;
    text-align: center;
    margin-left:10%;
  }

  .pubtitle {
    font-size: 20px;
    color: black;
  }

  .pub {
    margin-left: 5%;
    font-size: 40px;
    font-weight: -100px;
  }
  .infos {
    position: absolute;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 0%;
    font-size: 10px;
    color: #000;
  }
  .infos p{
    color: #000;
    margin-left: 2%;
    margin-right: -5%;
    font-size: 10px;
  }
  .infos h1{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: -10%;
    color: #000;
    font-size: 15px;
  }
  .infos h3{
    color: #000;
    margin-top: -2%;
    margin-left:2%;
    font-size: 10px;
  }
  .infos h2{
    color: #000;
    margin-top: -2%;
    margin-left:2%;
    font-size: 10px;
  }
  .form{
    position:absolute;
    margin-left: 50%;
    margin-top: 10%;

  }
  .input{
    background-color: #f6f6f6;
    border:none;
    width:90px;
    height: 30px;
    font-size: 7px;
    color: black;
    font-weight: bold;
  }
  .input1{
    background-color: #f6f6f6;
    border:none;
    width:90px;
    height: 30px;

    margin-left: 1%;
    position: absolute;
    margin-top: 0%;
    font-size: 7px;
    color: black;
    font-weight: bold;
  }
  .input2{
    background-color: #f6f6f6;
    border:none;
    width: 183px;
    height: 30px;
    color: black;
    font-size: 7px;
    margin-top:2%;
    font-weight: bold;
  }
  .input3{
    background-color: #f6f6f6;
    border:none;
    width: 183px;
    height: 70px;
    color: black;
    font-size: 7px;
    text-align: center;
    margin-top:2%;
    font-weight: bold;
  }
  .btn{
    margin-top: 2%;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    font-size: 7px;
    font-weight: bold;
    font-weight: bold;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .container3 {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 5%;
  }

  .box3 {
    margin-left: -20%;
    max-width: 50%;
    margin: 0 auto;
    padding: -28px;
  }

  .footetr {
    width: 100%;
  }

  .f2 {
    display: flex;
    margin-left: -30%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .f2 ul {
    width: 100%;
    min-width: 40px;
    margin-bottom: 10px;
  }

  .f2 ul li {
    margin-bottom: 8px;
  }

  .f2 ul li a {
    color: #737373;
    font-size: 6px;
  }

  .f1 {
    margin-bottom: 20px;
  }

  .f1 a {
    font-size: 12px;
    color: #737373;
  }

  .f3 {
    margin-top: -20px;
  }

  .f3 a {
    font-size: 12px;
    color: #737373;
  }

  h1 {
    margin-top: 8px;
    color: aliceblue;
    font-size: 8px;
    margin-left: 100%;
  }

  .design {
    text-align: center;
    margin-top: -20%;
    color: aliceblue;
    margin-left: 10%;
    margin-right: -50%;
    font-size: 8px;
  }

  .annonce {
    margin-left: 20%;
    margin-right: 40%;
    margin-top: -20px;
    color: aliceblue;
    font-size: 8px;
  }

  p {
    margin-left: 20%;
    margin-right: -20%;
    margin-top: -20px;
    color: aliceblue;
    font-size: 8px;
  }

  .footerannonce {
    margin-top: 20px;
    color: aliceblue;
    font-size: 8px;
  }
  .contactimg{
    width: 100px;
    margin-left: -120%;
    margin-top: -100%;
  }

  .copyrights {
    margin-top: -30px;
    color: aliceblue;
    font-size: 8px;
    margin-bottom: 10%;
  }
}
@media screen and (min-width:390px) and (max-width: 768px) {
  .firstNav {
    background-image: url("/assets/images/portfolio-list-title-img-3.jpg");

    background-repeat: no-repeat;
    color: aliceblue;
    padding: 10px;
  }

  .firstnavul {
    margin-top: 4%;
    margin-left: 65%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.firstnavli {
    display: none; /* Hide all list items by default */
  }

  .firstnavli .menu {
    margin-top: 50%;
    display: block; /* Only show the list item with the class "menu" */
    margin: 0 5px;
    font-size: 15px;
    color: aliceblue;
    margin-left:0%;
    cursor: pointer;
  }

  .firstnavli .menu:hover {
    color: gray;
  }

  .logosvg {
    margin-top: -6%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out;
    margin-left: 90%;
    position: absolute;
  }
  .logo {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: -11%;
    z-index: 2;
  }
  .my-nav {
    position: fixed;
    margin-top: -7%;
    color: aliceblue;
    right: -110%; /* Hidden position */
    width: 95%;
    height: 75px; /* Adjust height as needed */
    background-color: #333;
    overflow-x: hidden;
    transition: right 0.5s;
    display: flex;
    align-items: center;
    color: aliceblue !important; /* Force the text color */
    z-index: 2;

  }
  .my-nav-list {
    margin-top: -20%;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    margin-left: -80%;

  }

  .my-nav-item {
    margin-top: -5% !important;
    padding: 16px;
    text-align: center;
    color: white;
    margin-left: -80% !important;
    flex: 1;
    color: aliceblue !important;
  }
  .show-nav {
    right: 0;
  }
  .item-3 {
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    box-shadow:none !important;
    border: none;
    margin-left: -250%;
    margin-top: -40%;

    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 50px;
      background-color: #FFF;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out .3s all;
      box-shadow:none !important;
      border: none;
      font-weight: bold;
      z-index: 9999;

    }
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50px;
      background-color: #FFF;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out .3s all;
      box-shadow:none !;
      border: none;
      font-weight: bold;


    }
    &:hover, &:focus {
      &:before {
        transform: translate(-50%, -50%) rotate(135deg);
        box-shadow:none !important;
        border: none;


      }
      &:after {
        transform: translate(-50%, -50%) rotate(225deg);
        box-shadow:none !important;
        border: none;


      }
    }
  }
  .form{
    position:static;
    margin-left: 60%;
    margin-top: -23%;

  }
  .input{
    background-color: #f6f6f6;
    border:none;
    width:270px;
    height: 70px;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .input1{
    background-color: #f6f6f6;
    border:none;
    width:320px;
    height: 70px;
    margin-left: 5%;
    margin-top: 0%;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  .input2{
    background-color: #f6f6f6;
    border:none;
    width: 635px;
    height: 70px;
    color: black;
    font-size: 20px;
    margin-top:2%;
    font-weight: bold;
  }
  .input3{
    background-color: #f6f6f6;
    border:none;
    width: 635px;
    height: 270px;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top:2%;
    font-weight: bold;
  }
  .btn{
    margin-top: 2%;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    background-color: black;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
  }
  .infos {
    margin-top: 30%;
    margin-left: 10%;
    font-size: 20px;
    color: #000;
  }
  .infos p{
    color: #000;
    margin-left: 5%;
    font-size: 30px;
    margin-top: 20%;
  }
  .infos h1{
    margin-top: 2%;
    margin-left: 5%;
    color: #000;
    font-size: 65px;
  }
  .infos h3{
    color: #000;
    margin-top: -2%;
    margin-left:5%;
    font-size: 34px;
  }
  .infos h2{
    color: #000;
    margin-top: -2%;
    margin-left:5%;
    font-size: 34px;
  }
  .map-container {

    position: absolute;
    margin-top:40%;
    position: relative;
    overflow: hidden;
    padding-top: 35.25%; /* 16:9 aspect ratio */
    height: 0;
  }

  .contacttitle {
    margin-top: 15%;
    margin-left: 35%;
    color: black;
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
  }

  .contacttitle h1 {
    margin-top: 10%;
    margin-right: -10%;
    color: #000;
    font-size: 30px;
    text-align: center;
  }

  .contacttitle p {
    position: absolute;
    margin-top: 10%;
    margin-right: -20%;
    margin-left: 20%;
    color: #000;
    font-size: 10px;
    text-align: center;
    margin-left:10%;
  }

  .pubtitle {
    font-size: 20px;
    color: black;
  }

  .pub {
    margin-left: 5%;
    font-size: 40px;
    font-weight: -100px;
  }
  .infos {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 15px;
    color: #000;
  }
  .infos p{
    color: #000;
    margin-left: 2%;
    margin-right: -20%;
    font-size: 15px;
  }
  .infos h1{
    margin-top: 2%;
    margin-right: -20%;
    margin-left: 2%;
    color: #000;
    font-size: 15px;
  }
  .infos h3{
    color: #000;
    margin-top: -2%;
    margin-left:2%;
    font-size: 15px;
  }
  .infos h2{
    color: #000;
    margin-top: -15%;
    margin-left:2%;
    font-size: 15px;
  }
  .form{
    position:absolute;
    margin-left: 50%;
    margin-top: 7%;

  }
  .input{
    background-color: #f6f6f6;
    border:none;
    width:120px;
    height: 40px;
    font-size: 7px;
    color: black;
    font-weight: bold;
  }
  .input1{
    background-color: #f6f6f6;
    border:none;
    width:120px;
    height: 40px;

    margin-left: 1%;
    position: absolute;
    margin-top: 0%;
    font-size: 7px;
    color: black;
    font-weight: bold;
  }
  .input2{
    background-color: #f6f6f6;
    border:none;
    width: 244px;
    height: 40px;
    color: black;
    font-size: 7px;
    margin-top:2%;
    font-weight: bold;
  }
  .input3{
    background-color: #f6f6f6;
    border:none;
    width: 244px;
    height: 90px;
    color: black;
    font-size: 7px;
    text-align: center;
    margin-top:2%;
    font-weight: bold;
  }
  .btn{
    margin-top: 0%;
    margin-left: 0%;
    width: 70px;
    height: 20px;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    font-size: 4px;
    font-weight: bold;
    font-weight: bold;
  }


  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .container3 {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 0%;
  }

  .box3 {
    margin-left: -20%;
    max-width: 50%;
    margin: 0 auto;
    padding: -28px;
  }

  .footetr {
    width: 100%;
  }

  .f2 {
    display: flex;
    margin-left: -30%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .f2 ul {
    width: 100%;
    min-width: 40px;
    margin-bottom: 10px;
  }

  .f2 ul li {
    margin-bottom: 8px;
  }

  .f2 ul li a {
    color: #737373;
    font-size: 15px;
  }

  .f1 {
    margin-bottom: 20px;
  }

  .f1 a {
    font-size: 13px;
    color: #737373;
  }

  .f3 {
    margin-top: -20px;
  }

  .f3 a {
    font-size: 13px;
    color: #737373;
  }

  h1 {
    margin-top: 8px;
    color: aliceblue;
    font-size: 15px;
    margin-left: 20%;
  }

  .design {
    text-align: center;
    margin-top: -20px;
    color: aliceblue;
    margin-left: 10%;
    margin-right: -20%;
    font-size: 15px;
  }

  .annonce {
    margin-left: 20%;
    margin-right: 40%;
    margin-top: 20px;
    color: aliceblue;
    font-size: 15px;
  }

  p {
    margin-left: 20%;
    margin-right: -30%;
    margin-top: -10px;
    color: aliceblue;
    font-size: 15px;
  }

  .footerannonce {
    margin-top: 20px;
    color: aliceblue;
    font-size: 15px;
  }
  .contactimg{
    width: 200px;
    margin-left: -70%;
    margin-top: -50%;
  }
  .copyrights {

    margin-top: 20px;
    color: aliceblue;
    font-size: 8px;
    margin-bottom: 10%;
  }
}
